@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color:#eee;
    font-family:'roboto';
}
ul li{
    list-style-type: none;
    display: inline;
    font-size:20px;
    padding:10px 10px;
}
li a{
    text-decoration:none;
    color:#659d89;
}
section div h2{
    color:#659d89;
    font-size:40px;
    padding-left:26px;
}
section div p{
    font-size:30px;
    padding-left:26px;
}
/* kein Plan warum der Text unter Work Responsibly so anfängt :( */
aside{
    position:absolute;
    right:15em;
    bottom:20em;
    display:inline-block;
    width:20px;
    height:40px;
}
section h4{
    text-indent: 50px;
    margin-top:450px;
}
section h4:before{
    content:'\2193';
}
section{
    border-bottom:2px solid lightgray;
    padding:30px;
}
article h3,p{
    text-indent:50px;
}
article h3{
    font-size: 25px;
    padding-top:50px;
}
article p{
    font-size:20px;
}
article div{
    padding-top:120px;
    padding-right:15%;
    padding-left:15%;
}
article div img{
    margin:30px 60px 20px 30px;
}
article{
    border-bottom: 2px solid lightgray;
    padding:30px;
}
article div img:hover{
    box-shadow: 10px 10px 5px lightgray;
}
main h1{
    text-indent:50px;
    padding-top:100px;
    padding-bottom:100px;
}
main div:nth-of-type(1){
    text-align:center;
    display: inline-block;
    padding-left:9.5%;
}
main div a:nth-of-type(1){
    text-decoration: none;
    color:#666;
    text-transform:uppercase;
}
main div p:nth-of-type(2){
    font-size:25px;
}
main div p:nth-of-type(3){
    font-size:20px;
}
main div:nth-of-type(2){
    display:inline-block;
    text-align: center;
    padding-left:33%;
    padding-top:5%;
}
main div:nth-of-type(3){
    display:inline-block;
    text-align: center;
    padding-top:5%;
    padding-left:5%;
}
main div:nth-of-type(4){
    display:inline-block;
    text-align: center;
    padding-top:5%;
    padding-left:33%;
}
main{
    border:2px solid lightgray;
}
footer{
    text-align: center;
    font-size:30px;
    padding:20px 0px;
}
footer p:before{
    content:'\2191';
}
footer p:nth-of-type(2){
    font-size:10px;
    padding:3%;
}
footer p:nth-of-type(2):before{
    content:'\00A9';
}